<!-- footer area -->
<footer id="contact" class="footer-area ft-bg">
    <div class="footer-widget">
        <div class="container">
            <div class="row footer-widget-wrapper pt-100 pb-40">
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget-box about-us">
                        <a href="index.html" class="footer-logo">
                            <img src="@@webRoot/assets/img/logo/logo-light.png" alt="">
                        </a>
                        <ul class="footer-contact">
                            <li><a href="tel:+61 412783132"><i class="far fa-phone"></i>AUSTRALIA +61 412 783 132</a></li>
                            <li><i class="far fa-map-marker-alt"></i>Unit 1/9 Boag Rd, Morley WA 6062</li>
                            <hr/>
                            <li><a href="tel:+84 918358328"><i class="far fa-phone"></i>VIETNAM +84 918 358 328</a></li>
                            <li><i class="far fa-map-marker-alt"></i>108 TX13, Thạnh Xuân, Quận 12 TPHCM</li>
                            <li><i class="far fa-envelope"></i><span class="__cf_email__">vitamax.au@gmail.com</span></a></li>
                            <li><i class="far fa-clock"></i>Thứ Hai - Thứ Bảy (8.00 Sáng - 6.00 Chiều)</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="footer-widget-box list">
                        <h4 class="footer-widget-title">Quick Links</h4>
                        <ul class="footer-list">
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="help.html">Delivery Info</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                            <li><a href="https://live.themewild.com/medion/blog.html">Update News</a></li>
                            <li><a href="testimonial.html">Our Testimonials</a></li>
                            <li><a href="terms.html">Terms Of Service</a></li>
                            <li><a href="privacy.html">Privacy policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="footer-widget-box list">
                        <h4 class="footer-widget-title">Chọn nhóm</h4>
                        <ul class="footer-list">
                            <li><a href="shop-grid.html">Thực phẩm chức năng</a></li>
                            <li><a href="shop-grid.html">Đông Y Nam Dược</a></li>
                            <li><a href="shop-grid.html">Mỹ phẫm</a></li>
                            <li><a href="shop-grid.html">Chăm sóc Baby & Mẹ Bĩm</a></li>
                            <li><a href="shop-grid.html">Vật tư y tế</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="footer-widget-box list">
                        <h4 class="footer-widget-title">Trung tâm hổ trợ</h4>
                        <ul class="footer-list">
                            <li><a href="faq.html">Câu hỏi thường gặp/a></li>
                            <li><a href="help.html">Làm sao mua</a></li>
                            <li><a href="track-order.html">Theo dõi đơn hàng</a></li>
                            <li><a href="return.html">Chính sách trả hàng</a></li>
                            <li><a href="affiliate.html">Đăng ký làm đại lý</a></li>
                            <li><a href="/contact">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget-box list">
                        <div class="footer-payment mt-20">
                            <span>Chúng tôi nhận thanh toán qua:</span>
                            <img src="@@webRoot/assets/img/payment/visa.svg" alt="">
                            <img src="@@webRoot/assets/img/payment/mastercard.svg" alt="">
                            <img src="@@webRoot/assets/img/payment/amex.svg" alt="">
                            <img src="@@webRoot/assets/img/payment/discover.svg" alt="">
                            <img src="@@webRoot/assets/img/payment/paypal.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="copyright-wrap">
                <div class="row">
                    <div class="col-12 col-lg-6 align-self-center">
                        <p class="copyright-text">
                            &copy; Copyright <span id="date"></span> <a href="index.html"> eBizco Australia </a> All Rights Reserved.
                        </p>
                    </div>
                    <div class="col-12 col-lg-6 align-self-center">
                        <div class="footer-social">
                            <span>Follow Us:</span>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-x-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer area end -->