<!-- header area -->
<header class="header">

    <!-- header top -->
    <div id="header" class="header-top">
        <div class="container">
            <div class="header-top-wrap">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6 col-xl-5">
                        <div class="header-top-left">
                            <ul class="header-top-list">
                                <li><a href="Tel:+84 918358328"><i class="far fa-headset"></i> +84 918 358 328</a></li>
                                <li><a href="Tel:+61 412783132"><i class="far fa-headset"></i> +61 412 783 132</a></li>
                                <li class="help"><a href="#"><i class="far fa-comment-question"></i> Need Help?</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 col-xl-7">
                        <div class="header-top-right">
                            <ul class="header-top-list">
                                <li><a href="#"><i class="far fa-timer"></i> Daily Deal</a></li>
                                <li>
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <i class="far fa-usd"></i> VND
                                        </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">USD</a>
                                            <a class="dropdown-item" href="#">AUD</a>
                                            <a class="dropdown-item" href="#">VND</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <i class="far fa-globe-americas"></i> VN
                                        </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">VN</a>
                                            <a class="dropdown-item" href="#">EN</a>
                                            <a class="dropdown-item" href="#">CN</a>
                                            <a class="dropdown-item" href="#">RU</a>
                                            <a class="dropdown-item" href="#">KR</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="social">
                                    <div class="header-top-social">
                                        <span>Zalo: 0918 358 328</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header top end -->


    <!-- navbar -->
    <div class="main-navigation">
        <nav class="navbar navbar-expand-lg">
            <div class="container position-relative">
                <a class="navbar-brand" href="/dindex">
                    <img src="@@webRoot/assets/img/logo/logo.png" alt="logo">
                </a>
                <div class="mobile-menu-right">
                    <div class="mobile-menu-btn">
                        <a href="#" class="nav-right-link search-box-outer"><i class="far fa-search"></i></a>
                        <a href="/dshopcart" class="nav-right-link"><i
                                class="far fa-shopping-bag"></i><span>5</span></a>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
                        aria-label="Toggle navigation">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <a href="index.html" class="offcanvas-brand" id="offcanvasNavbarLabel">
                            <img src="@@webRoot/assets/img/logo/logo.png" alt="">
                        </a>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1">
                            <li class="nav-item"><a class="nav-link" href="about.html">Trang Chủ</a></li>
                            <li class="nav-item"><a class="nav-link" href="#about">Về chúng tôi</a></li>
                            <li class="nav-item mega-menu dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Nhóm sản phẩm</a>
                                <div class="dropdown-menu fade-down">
                                    <div class="mega-content">
                                        <div class="container-fluid px-lg-0">
                                            <div class="row">
                                                <div class="col-12 col-lg-2">
                                                    <h5 class="mega-menu-title">Medicine</h5>
                                                    <ul class="mega-menu-item">
                                                        <li><a class="dropdown-item"
                                                                href="shop-grid.html">Allergies & Sinus</a></li>
                                                        <li><a class="dropdown-item" href="shop-grid.html">E.N.T Preparations</a></li>
                                                        <li><a class="dropdown-item"
                                                                href="shop-grid.html">Eye Preparations</a></li>
                                                        <li><a class="dropdown-item"
                                                                href="shop-grid.html">Vitamin & Nutritional</a></li>
                                                        <li><a class="dropdown-item"
                                                                href="shop-grid.html">Fever & Pain Relief</a></li>
                                                        <li><a class="dropdown-item"
                                                                href="shop-grid.html">Dermatological</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-12 col-lg-2">
                                                    <h5 class="mega-menu-title">Equipment</h5>
                                                    <ul class="mega-menu-item">
                                                        <li><a class="dropdown-item"
                                                                href="shop-grid.html">Biopsy Tools</a></li>
                                                        <li><a class="dropdown-item"
                                                                href="shop-grid.html">Monitoring</a></li>
                                                        <li><a class="dropdown-item" href="shop-grid.html">Infusion Stands</a>
                                                        </li>
                                                        <li><a class="dropdown-item" href="shop-grid.html">Lighting</a>
                                                        </li>
                                                        <li><a class="dropdown-item"
                                                                href="shop-grid.html">Machines</a></li>
                                                        <li><a class="dropdown-item" href="shop-grid.html">Thermometer</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-12 col-lg-2">
                                                    <h5 class="mega-menu-title">Wound Care</h5>
                                                    <ul class="mega-menu-item">
                                                        <li><a class="dropdown-item"
                                                                href="shop-grid.html">Surgical Sutures</a></li>
                                                        <li><a class="dropdown-item" href="shop-grid.html">Bandages</a></li>
                                                        <li><a class="dropdown-item"
                                                                href="shop-grid.html">Patches and Tapes</a></li>
                                                        <li><a class="dropdown-item"
                                                                href="shop-grid.html">Stomatology</a></li>
                                                        <li><a class="dropdown-item"
                                                                href="shop-grid.html">Wound Healing</a></li>
                                                        <li><a class="dropdown-item"
                                                                href="shop-grid.html">Uniforms</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-12 col-lg-2">
                                                    <h5 class="mega-menu-title">Higiene</h5>
                                                    <ul class="mega-menu-item">
                                                        <li><a class="dropdown-item"
                                                                href="shop-grid.html">Face Masks</a></li>
                                                        <li><a class="dropdown-item" href="shop-grid.html">Sterilization</a></li>
                                                        <li><a class="dropdown-item"
                                                                href="shop-grid.html">Surgical Foils</a></li>
                                                        <li><a class="dropdown-item"
                                                                href="shop-grid.html">Disposable Products</a></li>
                                                        <li><a class="dropdown-item"
                                                                href="shop-grid.html">Protective Covers</a></li>
                                                        <li><a class="dropdown-item"
                                                                href="shop-grid.html">Diagnostic Tests</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-12 col-lg-4">
                                                    <div class="mega-menu-img">
                                                        <a href="#"><img
                                                                src="@@webRoot/@@webRoot/assets/img/banner/mega-menu-banner.jpg"
                                                                alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="shop-grid.html">Shop</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Blog</a>
                                <ul class="dropdown-menu fade-down">
                                    <li><a class="dropdown-item" href="blog-grid.html">Blog Grid</a></li>
                                    <li><a class="dropdown-item" href="blog-grid-sidebar.html">Blog Grid Sidebar</a>
                                    </li>
                                    <li><a class="dropdown-item" href="blog-single.html">Blog Single</a></li>
                                    <li><a class="dropdown-item" href="blog-single-sidebar.html">Blog Single
                                            Sidebar</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#contact">Liên hệ</a></li>
                        </ul>
                        <!-- nav-right -->
                        <div class="nav-right">
                            <a href="#" class="nav-right-link search-box-outer">
                                <i class="far fa-search"></i>
                            </a>
                            <a href="wishlist.html" class="nav-right-link"><i
                                class="far fa-heart"></i><span>2</span></a>
                            <a href="shop-cart.html" class="nav-right-link"><i
                                class="far fa-shopping-bag"></i><span>5</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- navbar end -->

</header>
<!-- header area end -->