<!-- Required meta tags -->
<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, viewport-fit=cover">
<meta name="theme-color" content="#92E136">
<meta name="author" content="eBizCoAU">
<meta name="robots" content="index, follow"> 
<meta name="description" content="AntiFake &amp; Product Authentication and Distribution Management System">
<meta name="keywords" content="product, fake, authentication, distribution, management, identification, android, ios, mobile, application template, progressive web app">
 <meta property="og:title" content="AntiFake: Product Authentication and Distribution Management System">
<meta property="og:description" content="AntiFake - Product Authentication and Distribution Management System">
<meta name="format-detection" content="telephone=no">

<!-- Favicons Icon -->
<link rel="shortcut icon" type="image/x-icon" href="@@webRoot/assets/images/favicon.ico">

<!-- Title -->
<title>AntiFake - Product Authentication and Distribution Management Syste</title>

<!-- PWA Version -->
<link rel="manifest" href="@@webRoot/assets/manifest.json">


<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<!-- Devexpress CSS -->
<!--link href="@@webRoot/node_modules/devexpress-diagram/dist/dx-diagram.min.css" rel="stylesheet"-->
<!--link href="@@webRoot/node_modules/devexpress-gantt/dist/dx-gantt.min.css" rel="stylesheet"-->
<link href="@@webRoot/node_modules/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
<link href="@@webRoot/node_modules/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" >
<link href="@@webRoot/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" >
<link href="@@webRoot/node_modules/devextreme/dist/css/dx.light.css" rel="stylesheet">




<!-- Global CSS -->
<!-- Stylesheets -->
<link rel="stylesheet" type="text/css" href="@@webRoot/assets/css/style.css">



