<!DOCTYPE html>
<html lang="en">

<head>
    @@include("partials/head.html")
    <title>IMEDIC</title>
    <style>
        .tables {
            display: flex;
        }

        .column:first-child {
            width: 50%;
            padding-right: 15px;
        }

        .column:last-child {
            width: 50%;
            padding-left: 15px;
        }

        #grid1 {
            height: 74vh;
        }

        #grid2 {
            height: 74vh;
        }
        .dx-toast-content {
            min-width: 300px;
            max-width: 400px;
        }

    </style>
</head>

<body>
    <div id="db-wrapper">
        <!-- navbar vertical -->
        @@include('partials/navbar-vertical.html', { "page_group": "prescriptman", "page": "diagnostic"})
        <!-- Page content -->
        <div id="page-content">
            @@include("partials/header.html")
            <!-- Container fluid -->
            <div class="pt-10 pb-10"></div>
            <div class="container-fluid mt-n22 px-4">
                <div class="row mt-7">
                    <div class="card">
                        <div class="row">
                            <div class="card-header bg-grey mt-1 py-2 col-xl-3 col-lg-3 col-md-4 col-12 mb-6 mb-xl-0">
                                <div id="dx-field">
                                    <div id="illnessContainer"></div>
                                </div>
                            </div>
                            <div class="card-header bg-grey mt-3 py-1 col-xl-9 col-lg-9 col-md-8 col-12">
                                <div class="dx-fieldset-header">
                                   <h5 class="illness"></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="tables" id="tables">
                        <div class="column">
                            <div id="grid1"></div>
                        </div>
                        <div class="column">
                            <div id="grid2"></div>
                        </div>
                    </div>
                </div>
       
                <div id="toast"></div>
            </div>
        </div>
    </div>
    
    <!-- Scripts -->
    @@include("partials/scripts.html")
    <% if (production==1) { %>
        <script src="@@webRoot/assets/js/diagnostic-min.js"></script>
    <% } else { %>
        <script src="@@webRoot/assets/js/diagnostic.js"></script>
    <% } %>
    
    

</body>

</html>