<!DOCTYPE html>
<html lang="en">
<head>
	@@include("partials/mhead.html")
</head>  
<body data-theme-color="color-primary">
<div class="page-wraper">
    
    <!-- Preloader -->
    <div id="preloader">
		<div class="loader">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
    <!-- Preloader end-->
	<!-- Header -->
    <header class="header">
		<div class="main-bar">
			<div class="container">
				<div class="header-content">
					<div class="left-content">
						<a href="/mpackaging" class="back-btn2">
							<svg height="20" viewBox="0 0 486.65 486.65" width="20">
								<path d="m202.114 444.648c-8.01-.114-15.65-3.388-21.257-9.11l-171.875-171.572c-11.907-11.81-11.986-31.037-.176-42.945.058-.059.117-.118.176-.176l171.876-171.571c12.738-10.909 31.908-9.426 42.817 3.313 9.736 11.369 9.736 28.136 0 39.504l-150.315 150.315 151.833 150.315c11.774 11.844 11.774 30.973 0 42.817-6.045 6.184-14.439 9.498-23.079 9.11z"/><path d="m456.283 272.773h-425.133c-16.771 0-30.367-13.596-30.367-30.367s13.596-30.367 30.367-30.367h425.133c16.771 0 30.367 13.596 30.367 30.367s-13.596 30.367-30.367 30.367z"/>
							</svg>
						</a>
						<h5 class="title mb-0 ms-2 text-nowrap stockdispatch"></h5>
					</div>
					<div class="mid-content ms-5 ps-5">
                        <h6 class="title mb-0 text-nowrap text-primary" id="boxid"></h6>
					</div>
					<div class="right-content">
						<a href="/mindex" class="px-3">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="black" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.14373 20.7821V17.7152C9.14372 16.9381 9.77567 16.3067 10.5584 16.3018H13.4326C14.2189 16.3018 14.8563 16.9346 14.8563 17.7152V20.7732C14.8562 21.4473 15.404 21.9951 16.0829 22H18.0438C18.9596 22.0023 19.8388 21.6428 20.4872 21.0007C21.1356 20.3586 21.5 19.4868 21.5 18.5775V9.86585C21.5 9.13139 21.1721 8.43471 20.6046 7.9635L13.943 2.67427C12.7785 1.74912 11.1154 1.77901 9.98539 2.74538L3.46701 7.9635C2.87274 8.42082 2.51755 9.11956 2.5 9.86585V18.5686C2.5 20.4637 4.04738 22 5.95617 22H7.87229C8.19917 22.0023 8.51349 21.8751 8.74547 21.6464C8.97746 21.4178 9.10793 21.1067 9.10792 20.7821H9.14373Z" fill="#777"></path>
                            </svg>
                        </a> 
						<a href="javascript:location.reload();"  class="text-dark font-24 pe-1">
                            <svg width="24" height="24" viewBox="0 0 32 32">
                                <path d="M28,16c-1.219,0-1.797,0.859-2,1.766C25.269,21.03,22.167,26,16,26c-5.523,0-10-4.478-10-10S10.477,6,16,6  c2.24,0,4.295,0.753,5.96,2H20c-1.104,0-2,0.896-2,2s0.896,2,2,2h6c1.104,0,2-0.896,2-2V4c0-1.104-0.896-2-2-2s-2,0.896-2,2v0.518  C21.733,2.932,18.977,2,16,2C8.268,2,2,8.268,2,16s6.268,14,14,14c9.979,0,14-9.5,14-11.875C30,16.672,28.938,16,28,16z" fill="#444"/>
                            </svg>
                        </a>
					</div>
				</div>
			</div>
		</div>
	</header>
    <!-- Header End -->
	
    <!-- Page Content -->
    <div class="page-content">
		<div id="toast"></div>
        <div class="container bottom-content shop-cart-wrapper"> 
            
			<div class="dz-list">
				<div class="text text-dark" id="datex">></div>
				<div class="input-group input-group-icon">
					<div class="input-group-text">
						<div class="input-icon">
							<i class="fa-solid fa-calendar"></i>
						</div>
					</div>
					<input type="text" class="form-control" id="todayx">
					
				</div>
			</div>
				<ul id="orderlist">
				</ul>
			</div>
        </div>
        
    </div>

</div> 

<link href="@@webRoot/node_modules/devextreme/dist/css/dx.light.css" rel="stylesheet">
<link href="@@webRoot/assets/css/jquery-ui.css" rel="stylesheet">
@@include("partials/mscripts.html")
<script src="@@webRoot/node_modules/devextreme/dist/js/dx.all.js"></script>


<% if (production==1) { %>
	<script src="@@webRoot/assets/js/mstockdispatch-min.js"></script>
	<script src="@@webRoot/assets/js/jquery-ui-min.js"></script>
	<script src="@@webRoot/assets/js/timeSolver-min.js"></script>
<% } else { %>
	<script src="@@webRoot/assets/js/mstockdispatch.js"></script>
	<script src="@@webRoot/assets/js/jquery-ui.js"></script>
	<script src="@@webRoot/assets/js/timeSolver.js"></script>
<% } %>




      

</html>