<!DOCTYPE html>
<html lang="en">

<head>
    @@include("partials/head.html")
    <title>AntiFake</title>
    <style>
        
        .dx-toast-content {
            min-width: 300px;
            max-width: 400px;
        }
        #profileContainer {
            height: 920px;
        }
        .buttonRED {
            background-color: #E44A2D;
        }

    </style>
</head>

<body>
    <div id="db-wrapper">
        <!-- navbar vertical -->
        @@include('partials/navbar-vertical.html', { "page_group": "prodman", "page": "prodstat"})
        <!-- Page content -->
        <div id="page-content">
            @@include("partials/header.html")
            <!-- Container fluid -->
            <div class="pt-10 pb-10"></div>
            <div class="container-fluid mt-n22 px-4">
                <div class="row mt-7">
                    <div class="card">
                        <div class="dx-viewport">
                            <div id="profileContainer" class="mt-2 px-2"></div>
                        </div>
                    </div> 
                </div>
                <div id="toast"></div>
                <div class="d-flex justify-content-center" >
                    <div id="reader" style="width:360px;"></div>
                </div>
                <audio id="audio" src="assets/audio/beep.mp3" autoplay="false" ></audio>
            </div>
        </div>
    </div>
   
    <!-- Scripts -->
    @@include("partials/scripts.html")
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    <% if (production==1) { %>
        <script src="@@webRoot/assets/js/prodstat-min.js"></script>
        <script src="@@webRoot/assets/js/timeSolver-min.js"></script>
        <script src="@@webRoot/assets/js/onscan-min.js"></script>

    <% } else { %>
        <script src="@@webRoot/assets/js/prodstat.js"></script>
        <script src="@@webRoot/assets/js/timeSolver.js"></script>
        <script src="@@webRoot/assets/js/onscan.js"></script>
    <% } %>

</body>

</html>