<!DOCTYPE html>
<html lang="en">

<head>
    @@include("partials/head.html")
    <title>AntiFake</title>
    <style>
        
        .dx-toolbar.dx-popup-title {  
            background-color:cornflowerblue !important;
        } 

        .dx-toolbar.dx-popup-bottom{
            background-color:cornflowerblue !important;
        }

        .ratings{
            margin-right:10px;
        }

        .ratings i{
            color:#cecece;
            font-size:20px;
        }

        .rating-color{
            color:#d3ba25 !important;
        }


    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <div id="db-wrapper">
        <!-- navbar vertical -->
        @@include('partials/navbar-vertical.html', { "page_group": "contact", "page": "agestaff"})
        <!-- Page content -->
        <div id="page-content">
            @@include("partials/header.html")
            <!-- Container fluid -->
            <div class="pt-10 pb-10"></div>
            <div class="container-fluid mt-n22 px-6">
                <div class="row mt-8">
                    <div class="card">
                        <div class="dx-viewport">
                            <div id="profileContainer" class="mt-2"></div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- Scripts -->
    @@include("partials/scripts.html")
    <% if (production==1) { %>
        <script src="@@webRoot/assets/js/walletstar-min.js"></script>
    <% } else { %>
        <script src="@@webRoot/assets/js/walletstar.js"></script>
    <% } %>
    
    <div id="agentstaffid" style="display:none"><%=agentstaffID%></div>




</body>

</html>